{% extends "layout.html.twig" %}

    {% block javascripts %}
        {{ parent() }}
        {#        {{ pwa() }}#}
    {% endblock %}

    {% block stylesheets %}
        {#        <link rel="stylesheet" href="https://kit.fontawesome.com/821a06d4ef.css" crossorigin="anonymous">#}
{#        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/survosapigrid/style.css') }}" ></link>#}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/survosbootstrap/bootstrap/style.css') }}">

        {{ parent() }}
    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% block page_header %}


    <button id="install" class="btn btn-primary" >
        {{ ux_icon('tabler:download') }}
        Install
    </button>

    {#    {{ app.request.get('_route') }}#}
    {#            :preTitle="app.request.get('_route')"#}
    {#            :title="app.request._route|trans(domain=routes)"#}
    {#    <twig:tabler:page-header>#}
    {#    </twig:tabler:page-header>#}
    {#    subTitle="A cool subtitle there."#}

{% endblock %}
